<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practica 2</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>

<body>

   <form class="form">
       <h2 class="form_title">¡Registrate aquí!</h2>
       <div class="form_container">
           <div class="form_group">
               <input type="text" id="name" class="form_input" placeholder="Ingresa tu nombre">
                <label for="name" class="form_label">Nombre: </label>
               <span class="form_line"></span>
           </div>
           
           <div class="form_group">
            <input type="text" id="apellido" class="form_input" placeholder="Ingresa tu apellido">
            <label for="apellido" class="form_label" >Apellido: </label>
            <span class="form_line"></span>
            </div>

            <div class="form_group">
                <input type="text" id="username" class="form_input" placeholder="Elige tu nombre de usuario">
                <label for="username" class="form_label">Nombre de usuario: </label>
                <span class="form_line"></span>
            </div>

            <div class="form_group">
                <input type="text" id="numtel" class="form_input" placeholder="Ingresa tu numero de telefono">
                <label for="numtel" class="form_label">Número telefonico: </label>
                <span class="form_line"></span>
            </div>
            
            <div class="form_group">
                <input type="text" id="direccion" class="form_input" placeholder="Ingresa tu direccion">
                <label for="direccion" class="form_label">Dirección: </label>
                <span class="form_line"></span>
            </div>

            <div class="form_group">
                <input type="text" id="CP" class="form_input" placeholder="CP">
                <label for="CP" class="form_label">Código postal: </label>
                <span class="form_line"></span>
            </div>

            <div class="form_group">
                <input type="text" id="mail" class="form_input" placeholder="Ingresa tu correo electronico">
                <label for="mail" class="form_label">Correo electronico: </label>
                <span class="form_line"></span>
            </div>

            <div class="form_group">
                <input type="text" id="tutor" class="form_input" placeholder="Nombre del tutor">
                <label for="tutor" class="form_label">Nombre del padre o tutor: </label>
                <span class="form_line"></span>
            </div>

            <div class="form_group">
                <input type="text" id="estudios" class="form_input" placeholder="Ultimo grado de estudios">
                <label for="estudios" class="form_label">Nivel de estudios: </label>
                <span class="form_line"></span>
            </div>
        
            <div class="form_group">
                <input type="text" id="calificacion" class="form_input" placeholder="Calificación">
                <label for="calificacion" class="form_label">Calificación  final del ultimo curso: </label>
                <span class="form_line"></span>
            </div>
            <input type="submit" class="form_submit" value="Enviar el formulario">
        </div>


   </form> 

</body>
</html>